{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumbs" role="navigation" aria-labelledby="system-breadcrumb">
    <div class="wrapper">
      <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
      <ul class="breadcrumb__list">
      {% for item in breadcrumb %}
        <li class="breadcrumb__item">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </nav>
{% endif %}
