<h2>Stay up to date</h2>
<div class="social__item">
  <a href="#" class="social--twitter">
    <span class="social__text">Twitter</span>
  </a>
</div>
<div class="social__item">
  <a href="#" class="social--facebook">
    <span class="social__text">Facebook</span>
  </a>
</div>
<div class="social__item">
  <a href="#" class="social--contact">
    <span class="social__text">Contact us</span>
  </a>
</div>
