<ul class="pager {{modifier_class}}">
  <li class="pager__item pager__item--first">
    <a title="Go to first page" href="#">first</a>
  </li>
  <li class="pager__item pager__item--prev">
    <a title="Go to previous page" href="#">previous</a>
  </li>
  <li class="pager__item">
    <a title="Go to page 1" href="#">1</a>
  </li>
  <li class="pager__item">
    <a title="Go to page 2" href="#">2</a>
  </li>
  <li class="pager__item is-active">
    <a title="Current page" href="#">3</a>
  </li>
  <li class="pager__item">
    <a title="Go to page 4" href="#">4</a>
  </li>
  <li class="pager__item">
    <a title="Go to page 5" href="#">5</a>
  </li>
  <li class="pager__item pager__item--next">
    <a title="Go to next page" href="#">next</a>
  </li>
  <li class="pager__item pager__item--last">
    <a title="Go to last page" href="#">last</a>
  </li>
</ul>
