<nav class="inline-tab-nav">
  <ul>
    <li><a class="is-active" href="#">View <span class="visually-hidden">(active tab)</span></a></li>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Revisions</a></li>
  </ul>
</nav>
