<nav class="inline-tab-nav inline-tab-nav--secondary">
  <ul>
    <li><a class="is-active" href="#">Content <span class="visually-hidden">(active tab)</span></a></li>
    <li><a href="#">Display</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</nav>
