<details class="form-wrapper" aria-expanded="false">
  <summary role="button">1. Understand user needs</summary>
  <div class="accordion-panel">
    <p>Understand user needs. Research to develop a deep knowledge of the users
      and their context for the service.
    </p>
  </div>
</details>
