<footer role="contentinfo">
  <div class="footer-bottom">
    <div class="wrapper clearfix">
      <div class="footer-bottom__left">
        <p>© Copyright 2015 aGov.</p>
      </div>
      <div class="footer-bottom__right">
        <p><a class="footer-bottom__link" href="#skip-link">Back to top</a></p>
      </div>
    </div>
  </div>
</footer>
